/* PaymentCss start */
.leftSidebar {
  border-right: 2px solid #2f303e;
}

.bord {
  border-bottom: 2px solid #2f303e;
}

h3 {
  font-family: Barlow, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 0;
}

.images {
  width: 45px;
  height: 41px;
  border-radius: 100%;
}

.inp {
  width: 40px;
  height: 40px;
  background: #2d303e;
  border: 1px solid #393c49;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 5px;
  color: white;
  text-align: center;
}

.plus {
  background: #ea7c69 !important;
  border-radius: 8px !important;
}

.input {
  width: 300px;
  background: #2d303e;
  border: 1px solid #393c49;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  color: #fff;
  font-weight: bold;
}

.buttonGroup {
  margin-top: 160px;
}

.lightBtn {
  border: 1px solid #ea7c69 !important;
  box-sizing: border-box;
  border-radius: 8px !important;
  color: #ea7c69 !important;
}

.lightBtn:hover {
  background: #ea7c69 !important;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.4) !important;
  border-radius: 8px !important;
  color: #fff !important;
}

.btnDark {
  border: 1px solid #ea7c69 !important;
  box-sizing: border-box;
  border-radius: 8px !important;
  color: #ea7c69 !important;
}

.btnDark:hover {
  background: #ea7c69 !important;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.4) !important;
  border-radius: 8px !important;
  color: #fff !important;
}

.input02 {
  width: 180px;
  background: #2d303e;
  border: 1px solid #393c49;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  color: #fff;
  font-weight: bold;
}

h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 130%;
}

.delete {
  width: 48px;
  height: 48px;
  border: 1px solid #ea7c69 !important;
  box-sizing: border-box;
  border-radius: 8px;
}

.icons {
  color: #ea7c69 !important;
}

.inp {
  width: 40px;
  height: 40px;
  background: #2d303e;
  border: 1px solid #393c49;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 5px;
  color: white;
}

.ub-bg-clr_white {
  background-color: #1f1d2b !important;
  color: #f1f1f2;
  border-color: #2f303e !important;
}

.ub-w_620px {
  width: 814px !important;
}

/* PaymentCss end */
.MuiTabs-scroller {
  overflow-x: scroll !important;
}

.MuiTabs-scroller {
  background-color: #2d303e;
  width: 5px !important;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.MuiTabs-scrollable::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f1d2b;
  border-radius: 10px;
}

::-webkit-scrollbar {
  display: block !important;
  width: 3px !important;
}
